 build/classes/Interfaces/UserInterface.class
 build/classes/Models/User.class
 build/classes/Services/UserService.class
 build/classes/Utils/Type.class
 src/Interfaces/UserInterface.java
 create mode 100644 src/Models/User.java
 create mode 100644 src/Services/UserService.java
 create mode 100644 src/Utils/Type.java

